body {
  background-color: #d3d3d3; /* abu-abu terang */
  font-family: Arial, sans-serif;
  color: black;
  padding: 20px;
}

h1, p {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  border: 5px solid orange;
  margin: 10px;
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 30px;
}

ul li {
  display: inline-block;
  margin: 0 15px;
}

a {
  color: navy;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
